<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <header>
            <div class="container">
                <div class="h">
                    <h2>Rest</h2>
                    <h2 class="jabar"><img src="{{ url_for('static', filename='images/pon.png') }}" width="50px" height="50px"> api</h2>
                </div>
            </div>
        </header>
        <!-- header -->
        <section class="banner">
            <ul class="sidebar">
                <li class="side-item"><a href="{{ url_for('index') }}" class="nav-link">
                    <i class="fas fa-house-user"></i>
                    <span class="title">Home</span>
                </a></li>
                <li class="side-item"><a href="{{ url_for('data') }}" class="nav-link">
                    <i class="fas fa-list"></i>
                    <span class="title"> Daftar Mahasiswa</span>
                </a></li>
                <li class="side-item"><a href="{{ url_for('insert') }}" class="nav-link">
                    <i class="fas fa-user-plus"></i>
                    <span class="title">Tambah Data</span>
                </a></li>
                <li class="side-item"><a href="{{ url_for('edit') }}" class="nav-link">
                    <i class="fas fa-user-plus"></i>
                    <span class="title">Update & Delete</span>
                </a></li>
            </ul>
        </section>
    </div>
    <div class="data-mhs">
        <div class="tab">
            <h2>Daftar Mahasiswa</h2>
            <form method="GET" action="{{ url_for('data') }}">
                {{ csrf_token }}
                <input id="searchbuton" type="text" name="search_query" placeholder="Search" class="search-input" value="{{ search_query }}" />
                <button id="searchbuton" type="submit" class="search-button">Cari</button>
            </form> 
            {% if pesan_tidak_ditemukan %}
                <div class="images">
                    <div class="text-center mb-3">
                        {{ pesan_tidak_ditemukan }}
                    </div>
                    <img src="{{ url_for('static', filename='images/pge.png') }}" alt="Pesan Flash" width="450" height="250">
                </div>
            {% else %}       
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nim</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Alamat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student[1] }}</td>
                        <td>{{ student[0] }}</td>
                        <td>{{ student[2] }}</td>
                        <td>{{ student[3] }}</td>
                        <td>{{ student[4]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    
        <!-- Navigasi / Navigator -->
        <div class="navigator">
            <ul class="pagination">
                {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="/data?page={{ page - 1 }}">Sebelumnya</a>
                </li>
                {% endif %}
    
                {% for num in range(1, num_pages + 1) %}
                {% if num == page %}
                <li class="page-item active">
                    <a class="page-link" href="/data?page={{ num }}">{{ num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="/data?page={{ num }}">{{ num }}</a>
                </li>
                {% endif %}
                {% endfor %}
    
                {% if page < num_pages %}
                <li class="page-item">
                    <a class="page-link" href="/data?page={{ page + 1 }}">Selanjutnya</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    
    
</body>
</html>
